@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --main-background: #1a0b2e;
  --sec-background: #230e3d;
  --primary-color: #ffffff;
  --secondary-color: #00ff88;
  --tertiary-color: rgba(53, 17, 100, 0.4);

  --linear-gradient-01: linear-gradient(
    9deg,
    #f7e93f 0%,
    #fb09b4 51%,
    #9100f8 100%
  );
  --linear-gradient-02: linear-gradient(
    170deg,
    rgba(0, 123, 112, 1) 0%,
    rgba(236, 249, 85, 1) 100%
  );

  --color-conic-main: #00ff88;
  --color-conic-sec: #0b11c500;

  --h1: 3.75rem; /*60px*/
  --h2: 3rem; /*48px*/
  --h3: 1.5rem; /*24px*/
  --fs1: 1rem; /*16px*/
  --fs2: 1.125rem; /*18px*/
  --fs3: 2rem; /*32px*/
}
body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  background-color: var(--main-background);
  color: var(--primary-color);
}
html {
  scroll-behavior: smooth;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}

/* Share Style */
.m-auto {
  margin: 0 auto;
}
.mx {
  max-width: 1200px;
  padding: 0 20px;
}
.flex {
  display: flex;
}
.grid {
  display: flex;
}
.btn {
  padding: 12px 16px;
  border: none;
  border-radius: 50px;
  font-size: var(--fs1);
  background: var(--linear-gradient-01);
  color: var(--primary-color);
  font-weight: 550;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
  transition: 0.4s linear;
}
.description {
  font-weight: 300;
  margin-top: 15px;
}
.title {
  font-size: var(--h2);
  font-weight: 700;
  text-align: center;
}

/* Navbar */
.navbar {
  position: fixed;
  box-shadow: 5px 0 8px var(--tertiary-color);
  background: var(--main-background);
  right: 0;
  left: 0;
  z-index: 11;
  height: 75px;
}
.nav-content {
  justify-content: space-between;
  align-items: center;
  margin: 15px auto;
}
.nav-links {
  gap: 60px;
  color: var(--primary-color);
  font-size: var(--fs1);
}
.nav-links .link {
  color: var(--primary-color);
}
.nav-links .link:hover {
  color: var(--secondary-color);
}
.navbar .btn i {
  margin-left: 5px;
}
@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: true;
}
.navbar .btn::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  padding: 3px;
  border-radius: 60px;
  z-index: -1;
  background: conic-gradient(
    from var(--angle),
    var(--color-conic-sec),
    var(--color-conic-sec),
    var(--color-conic-main),
    var(--color-conic-sec)
  );
  animation: spin 3s linear infinite;
}
@keyframes spin {
  to {
    --angle: 360deg;
  }
}
.menu {
  height: 24px;
  display: none;
}

/* Hero Section */
.hero-section {
  padding-top: 75px;
  position: relative;
}
.hero-img {
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  object-fit: cover;
  z-index: -1;
  width: 100%;
  height: 760px;
}
.hero-content {
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 100px 0;
  text-align: center;
}
.podcast-container {
  position: relative;
}
.badge {
  position: absolute;
  right: 30px;
  top: 15px;
  padding: 8px 16px;
  font-size: var(--fs2);
  font-weight: 550;
  background-color: var(--secondary-color);
  box-shadow: 3px 0 27px #00ff8876;
  border-radius: 50px;
  color: black;
  animation: fade-in-out 2s ease-in-out infinite;
}
@keyframes fade-in-out {
  0% {
    transform: scale(0.9);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(0.9);
  }
}
.mic-circle {
  height: 350px;
  width: 350px;
  border-radius: 50%;
  background: var(--linear-gradient-01);
  border: 8px solid #2a186c;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
}
.brand-name {
  font-size: var(--h1);
  font-weight: 900;
  letter-spacing: 3px;
}
.btn-group {
  display: flex;
  gap: 8px;
  margin-top: 30px;
}
.btn-group img {
  margin-right: 8px;
}
.btn2 {
  color: var(--secondary-color);
  background: transparent;
  border: 1px solid var(--secondary-color);
}
.btn-group .btn:hover {
  box-shadow: 2px 0 17px var(--secondary-color);
}

/* about section */
.about-podcast {
  padding-top: 100px;
  text-align: center;
}
.ab-content {
  flex-direction: column;
  align-items: center;
}
.about-podcast .p2 {
  max-width: 800px;
  line-height: 30px;
  margin-bottom: 20px;
}
.rule {
  margin: 100px 0px;
  border: 2px solid var(--tertiary-color);
}
.rating-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-bottom: 50px;
}
.box {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.box h2 {
  font-size: var(--h2);
  font-weight: 900;
  color: var(--secondary-color);
}
.box p {
  text-transform: uppercase;
  font-weight: 300;
}
/* why-choose-tachwave section */
.why-choose-tachwave {
  width: 100%;
  padding: 120px 0px;
  background: var(--sec-background);
}
.card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin-top: 40px;
}
.card {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 35px;
  border-radius: 40px;
  background: var(--tertiary-color);
}
.span1 {
  grid-row: span 1;
}
.span2 {
  grid-row: span 2;
}
.span3 {
  grid-column: span 2;
}
.heading3 {
  margin-top: 20px;
  font-size: var(--h3);
  font-weight: 700;
}

/* Featured-episodes section */
.Featured-episodes {
  padding: 120px 20px;
}
.play-card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin-top: 50px;
}
.play-card-container .card {
  padding: 0;
  overflow: hidden;
  border-radius: 30px;
}
.video {
  position: relative;
  width: 380px;
  height: 225px;
}
.video iframe {
  width: 100%;
  height: 100%;
}
.play-btn {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.play-btn i {
  position: absolute;
  font-size: 30px;
  z-index: 11;
}
.play-btn::before {
  content: "";
  width: 75px;
  height: 75px;
  background: var(--linear-gradient-01);
  border-radius: 50%;
  position: absolute;
  z-index: 1;
}
.play-btn::after {
  content: "";
  width: 75px;
  height: 75px;
  padding: 3px;
  background: var(--color-conic-main);
  border-radius: 50%;
  z-index: 0;
  background: conic-gradient(
    from var(--angle),
    var(--color-conic-sec),
    var(--color-conic-sec),
    var(--color-conic-main)
  );
  animation: spin 3s linear infinite;
}
.video-description {
  max-width: 335px;
  margin: 24px;
  line-height: 24px;
}
.time {
  margin-top: 15px;
  gap: 8px;
  align-items: center;
  color: var(--secondary-color);
}

/* meet-the-host section */
.host-card {
  flex-direction: row;
  align-items: center;
  gap: 20px;
  line-height: 25px;
  margin: 50px 0px 120px 0px;
}
.host-name {
  font-size: var(--fs3);
  font-weight: 700;
}
.social-link {
  gap: 20px;
  margin-top: 20px;
}
.social-link .s-link {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 3px solid var(--tertiary-color);
  color: var(--linear-gradient-01);
  line-height: 40px;
  text-align: center;
  cursor: pointer;
  transition: 0.5s linear;
}
.s-link:hover {
  box-shadow: 0 0 12px var(--secondary-color);
}
.card-info {
  flex-direction: column;
}
/* footer */
.footer-img {
  position: absolute;
  background-size: cover;
  background-repeat: no-repeat;
  object-fit: cover;
  width: 100%;
  height: 412px;
  z-index: -1;
}
.footer-content {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 120px 0px;
}
.footer-logo {
  height: 60px;
}
.footer-link {
  margin: 20px 0px;
  gap: 50px;
}
.f-link {
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

/**Small device:up to 576 px**/
@media screen and (max-width: 576px) {
  :root {
    --h1: 2.5rem; /*40px*/
    --h2: 2rem; /*32px*/
    --h4: 1.375rem; /*22px*/
    --fs2: 1.5rem; /*24px*/
  }
  .nav-links,
  .nav-content .btn {
    display: none;
  }
  .menu {
    display: block;
  }
  .hero-content {
    padding: 70px 0;
  }
  .mic-circle {
    height: 200px;
    width: 200px;
    margin-bottom: 24px;
  }
  .badge {
    right: -10px;
    font-size: var(--fs1);
  }
  .hero-img {
    background-size: contain;
    height: 466px;
  }
  .mic-circle img {
    height: 70px;
  }
  .description {
    max-width: 400px;
  }
  .ab-content {
    max-width: 450px;
  }
  .ab-content .p2 {
    margin-bottom: 10px;
  }
  .rating-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
  }
  .box p {
    font-size: 14px;
  }
  .card-container,
  .play-card-container {
    grid-template-columns: 1fr;
  }
  .span3 {
    grid-column: span 1;
  }
  .video {
    width: 100%;
    height: 315px;
  }
  .host-card {
    flex-direction: column;
    text-align: center;
  }
  .card-info {
    align-items: center;
  }
  .footer-link {
    max-width: 280px;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
    justify-content: center;
  }
  .footer-content {
    padding: 60px 0px 0px;
    font-size: 14px;
  }
  .footer-logo {
    height: 32px;
  }
  .footer-link {
    gap: 10px;
    justify-items: center;
    margin-top: 20px;
  }
  .footer-img {
    background-size: contain;
    height: 248px;
  }
}

/**Medium Device: 576px to 992 px**/
@media screen and (min-width: 576px) and (max-width: 992px) {
  .nav-links,
  .nav-content .btn {
    display: none;
  }
  .menu {
    display: block;
  }
  .badge {
    right: 10px;
  }
  .mic-circle {
    height: 280px;
    width: 280px;
  }
  .hero-img {
    height: 666px;
  }
  .mic-circle img {
    height: 150px;
  }
  .ab-content {
    max-width: 700px;
  }
  .rating-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
  }
  .card-container,
  .play-card-container {
    grid-template-columns: 1fr;
  }
  .span3 {
    grid-column: span 1;
  }
  .video {
    width: 100%;
    height: 415px;
  }
  .video-description {
    max-width: 500px;
  }
  .host-card {
    flex-direction: column;
    text-align: center;
  }
  .card-info {
    align-items: center;
  }
}
