@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --main-background: #1a0b2e;
  --primary-color: #ffffff;
  --secondary-color: #00ff88;
  --linear-gradient-01: linear-gradient(
    9deg,
    #f7e93f 0%,
    #fb09b4 51%,
    #9100f8 100%
  );
  --linear-gradient-02: linear-gradient(
    170deg,
    rgba(0, 123, 112, 1) 0%,
    rgba(236, 249, 85, 1) 100%
  );

  --color-conic-main: #00ff88;
  --color-conic-sec: #0b11c500;

  --h1: 3.75rem; /*60px*/
  --h2: 3rem; /*48px*/
  --h4: 1.5rem; /*24px*/
  --fs1: 1rem; /*16px*/
  --fs2: 1.125rem; /*18px*/
  --fs3: 2rem; /*32px*/
}
body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  background-color: var(--main-background);
  color: var(--primary-color);
}
html {
  scroll-behavior: smooth;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}

/* Share Style */
.m-auto {
  margin: 0 auto;
}
.mx {
  max-width: 1200px;
  padding: 0 15px;
}
.flex {
  display: flex;
}

.btn {
  padding: 12px 16px;
  border: none;
  border-radius: 50px;
  font-size: var(--fs1);
  background: var(--linear-gradient-01);
  color: var(--primary-color);
  font-weight: 550;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
}
.description {
  font-weight: 350;
  margin-top: 15px;
}

/* Navbar */
.navbar {
  position: fixed;
  box-shadow: 3px 0 4px rgb(160, 3, 165);
  background: var(--main-background);
  right: 0;
  left: 0;
  z-index: 11;
  height: 75px;
}
.nav-content {
  justify-content: space-between;
  align-items: center;
  margin: 15px auto;
}
.nav-links {
  gap: 60px;
  color: var(--primary-color);
  font-size: var(--fs1);
}
.nav-links .link {
  color: var(--primary-color);
}
.nav-links .link:hover {
  color: var(--secondary-color);
}
.navbar .btn i {
  margin-left: 5px;
}
@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: true;
}
.navbar .btn::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  padding: 3px;
  border-radius: 60px;
  z-index: -1;
  background: conic-gradient(
    from var(--angle),
    var(--color-conic-sec),
    var(--color-conic-sec),
    var(--color-conic-main),
    var(--color-conic-sec),
    var(--color-conic-sec),
    var(--color-conic-main),
    var(--color-conic-sec)
  );
  animation: spin 7s linear infinite;
}
@keyframes spin {
  to {
    --angle: 360deg;
  }
}
.menu {
  height: 24px;
  display: none;
}

/* Hero Section */
.hero-section {
  padding-top: 75px;
  position: relative;
}
.hero-img {
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 760px;
}
.hero-content {
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 100px 0;
  text-align: center;
}
.podcast-container {
  position: relative;
}
.badge {
  position: absolute;
  right: 30px;
  top: 10px;
  padding: 8px 16px;
  font-size: var(--fs2);
  font-weight: 550;
  background-color: var(--secondary-color);
  box-shadow: 3px 0 27px #00ff8876;
  border-radius: 50px;
  color: black;
  animation: fade-in-out 2s ease-in-out infinite;
}
@keyframes fade-in-out {
  0% {
    transform: scale(0.8);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.8);
  }
}
.mic-circle {
  height: 350px;
  width: 350px;
  border-radius: 50%;
  background: var(--linear-gradient-01);
  border: 8px solid #2a186c;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
}
.brand-name {
  font-size: var(--h1);
  font-weight: 900;
  letter-spacing: 3px;
}
.btn-group {
  display: flex;
  gap: 8px;
  margin-top: 30px;
}
.btn-group img {
  margin-right: 8px;
}
.btn2 {
  color: var(--secondary-color);
  background: transparent;
  border: 1px solid var(--secondary-color);
}
.btn-group .btn:hover {
  box-shadow: 2px 0 17px var(--secondary-color);
}

/**Small device:**/
@media screen and (max-width: 576px) {
  :root {
    --h1: 2.5rem; /*40px*/
    --h2: 2rem; /*32px*/
    --h4: 1.375rem; /*22px*/
    --fs2: 1.5rem; /*24px*/
  }
  .nav-links,
  .nav-content .btn {
    display: none;
  }
  .menu {
    display: block;
  }
  .hero-content {
    padding: 70px 0;
  }
  .mic-circle {
    height: 200px;
    width: 200px;
    margin-bottom: 24px;
  }
  .badge {
    right: -10px;
    font-size: var(--fs1);
  }
  .hero-img {
    height: 466px;
  }
  .mic-circle img {
    height: 70px;
  }
  .description {
    max-width: 400px;
  }
}
@media screen and (min-width:576px) and (max-width:992px){
    .nav-links,.nav-content .btn{
        display: none;
    }
    .menu{
        display: block;
    }
}

/* **Small device:** up to 576 px 
- **Medium Device:** 576px to 992 px (Optional)
- **Large Device:** above 992 px  */
